:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.messages {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 16px;
  gap: 8px;
}

.message {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 4px;
}

.message span {
  font-weight: bold;
  color: rebeccapurple;
}

.input {
  display: flex;
  padding: 16px;
  gap: 8px;
}

.input input {
  flex: 1;
  padding: 8px;
}
